In [55]:
#Import Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [56]:
#Import Dataset
#Loading Dataset
dataset = pd.read_csv (r'E:/DSC/energydata_complete.csv')
print (dataset)

                      date  Appliances  lights         T1       RH_1  \
0      2016-01-11 17:00:00          60      30  19.890000  47.596667
1      2016-01-11 17:10:00          60      30  19.890000  46.693333
2      2016-01-11 17:20:00          50      30  19.890000  46.300000
3      2016-01-11 17:30:00          50      40  19.890000  46.066667
4      2016-01-11 17:40:00          60      40  19.890000  46.333333
...                    ...         ...     ...        ...        ...
19730  2016-05-27 17:20:00         100       0  25.566667  46.560000
19731  2016-05-27 17:30:00          90       0  25.500000  46.500000
19732  2016-05-27 17:40:00         270      10  25.500000  46.596667
19733  2016-05-27 17:50:00         420      10  25.500000  46.990000
19734  2016-05-27 18:00:00         430      10  25.500000  46.600000

              T2       RH_2         T3       RH_3         T4  ...         T9  \
0      19.200000  44.790000  19.790000  44.730000  19.000000  ...  17.033333
1      19.200000  44.722500  19.790000  44.790000  19.000000  ...  17.066667
2      19.200000  44.626667  19.790000  44.933333  18.926667  ...  17.000000
3      19.200000  44.590000  19.790000  45.000000  18.890000  ...  17.000000
4      19.200000  44.530000  19.790000  45.000000  18.890000  ...  17.000000
...          ...        ...        ...        ...        ...  ...        ...
19730  25.890000  42.025714  27.200000  41.163333  24.700000  ...  23.200000
19731  25.754000  42.080000  27.133333  41.223333  24.700000  ...  23.200000
19732  25.628571  42.768571  27.050000  41.690000  24.700000  ...  23.200000
19733  25.414000  43.036000  26.890000  41.290000  24.700000  ...  23.200000
19734  25.264286  42.971429  26.823333  41.156667  24.700000  ...  23.200000

          RH_9      T_out  Press_mm_hg     RH_out  Windspeed  Visibility  \
0      45.5300   6.600000        733.5  92.000000   7.000000   63.000000
1      45.5600   6.483333        733.6  92.000000   6.666667   59.166667
2      45.5000   6.366667        733.7  92.000000   6.333333   55.333333
3      45.4000   6.250000        733.8  92.000000   6.000000   51.500000
4      45.4000   6.133333        733.9  92.000000   5.666667   47.666667
...        ...        ...          ...        ...        ...         ...
19730  46.7900  22.733333        755.2  55.666667   3.333333   23.666667
19731  46.7900  22.600000        755.2  56.000000   3.500000   24.500000
19732  46.7900  22.466667        755.2  56.333333   3.666667   25.333333
19733  46.8175  22.333333        755.2  56.666667   3.833333   26.166667
19734  46.8450  22.200000        755.2  57.000000   4.000000   27.000000

       Tdewpoint        rv1        rv2
0       5.300000  13.275433  13.275433
1       5.200000  18.606195  18.606195
2       5.100000  28.642668  28.642668
3       5.000000  45.410389  45.410389
4       4.900000  10.084097  10.084097
...          ...        ...        ...
19730  13.333333  43.096812  43.096812
19731  13.300000  49.282940  49.282940
19732  13.266667  29.199117  29.199117
19733  13.233333   6.322784   6.322784
19734  13.200000  34.118851  34.118851

[19735 rows x 29 columns]

In [57]:
dataset.shape

(19735, 29)

In [58]:
#Viewing dataset
dataset.sample(19735)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
16453,2016-05-04 23:10:00,50,0,23.200000,34.400000,21.290000,35.060000,23.390000,36.163333,22.890000,...,20.426667,36.656667,9.616667,764.350000,60.666667,2.000000,40.0,2.366667,33.398490,33.398490
11072,2016-03-28 14:20:00,290,10,23.166667,38.966667,22.533333,37.760000,23.663333,41.930000,21.500000,...,20.500000,42.522500,10.500000,742.300000,64.666667,11.000000,40.0,4.066667,11.661138,11.661138
15891,2016-05-01 01:30:00,50,0,20.963333,37.900000,18.100000,41.590000,23.200000,36.590000,19.600000,...,19.100000,39.433333,3.950000,763.950000,89.000000,3.000000,27.5,2.250000,20.226832,20.226832
10698,2016-03-26 00:00:00,70,0,23.000000,38.590000,19.730000,41.966667,23.390000,37.500000,20.700000,...,19.700000,40.326667,1.500000,759.200000,97.000000,1.000000,20.0,1.100000,17.253468,17.253468
4063,2016-02-08 22:10:00,70,30,23.600000,40.860000,23.200000,39.626667,23.790000,43.000000,21.600000,...,18.790000,40.560000,7.500000,744.066667,69.833333,10.166667,26.5,2.366667,38.302105,38.302105
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17195,2016-05-10 02:50:00,50,0,25.100000,43.700000,23.500000,44.700000,26.790000,40.290000,25.500000,...,23.790000,48.640000,15.216667,752.550000,94.000000,2.166667,21.0,14.233333,43.355215,43.355215
10851,2016-03-27 01:30:00,60,0,22.890000,40.626667,20.760000,42.663333,23.100000,39.500000,20.066667,...,19.890000,42.430000,7.850000,748.750000,92.000000,5.000000,63.5,6.600000,30.960482,30.960482
4886,2016-02-14 15:20:00,110,10,21.500000,40.590000,19.890000,41.090000,20.856667,41.290000,19.290000,...,17.890000,38.826667,3.266667,739.366667,89.666667,3.333333,64.0,1.700000,45.337034,45.337034
3388,2016-02-04 05:40:00,50,0,21.100000,42.090000,20.290000,41.663333,22.100000,44.035000,20.033333,...,18.390000,48.290000,2.533333,764.933333,91.000000,3.666667,40.0,1.133333,21.436862,21.436862
2229,2016-01-27 04:30:00,40,0,20.390000,44.290000,19.700000,43.790000,19.890000,43.530000,19.290000,...,17.200000,49.126667,10.100000,757.950000,81.500000,9.500000,40.0,7.050000,35.660363,35.660363

In [59]:
#Classifying the dependent and Independent Variables
X = dataset.iloc[:,:-1].values #Takes all rows of all columns except the last column
print(X)

[['2016-01-11 17:00:00' 60 30 ... 63.0 5.3 13.275433157104999]
 ['2016-01-11 17:10:00' 60 30 ... 59.1666666666667 5.2 18.606194981839508]
 ['2016-01-11 17:20:00' 50 30 ... 55.3333333333333 5.1 28.64266816759482]
 ...
 ['2016-05-27 17:40:00' 270 10 ... 25.3333333333333 13.266666666666698
  29.19911708449945]
 ['2016-05-27 17:50:00' 420 10 ... 26.166666666666693 13.233333333333302
  6.322783650830388]
 ['2016-05-27 18:00:00' 430 10 ... 27.0 13.2 34.11885058740153]]

In [60]:
Y = dataset.iloc[:,-1].values # Takes all rows of the last column
print(Y)

[13.27543316 18.60619498 28.64266817 ... 29.19911708  6.32278365
 34.11885059]

In [61]:
#the below code counts the number of missing values in each column
dataset.isna().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [62]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer()
imputed_numerical = imputer.fit_transform(dataset.select_dtypes(exclude=['object']))
imputed_numerical = pd.DataFrame(imputed_numerical, columns=dataset.select_dtypes(exclude=['object']).columns)
imputed_numerical.isna().sum()

Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [63]:
imputer = SimpleImputer(strategy="most_frequent")
imputed_categorical = imputer.fit_transform(dataset.select_dtypes(include=['object']))
imputed_categorical = pd.DataFrame(imputed_categorical, columns = dataset.select_dtypes(include=['object']).columns)
imputed_categorical.isna().sum()

date    0
dtype: int64

In [67]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2)

In [71]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_X

StandardScaler(copy=True, with_mean=True, with_std=True)

In [70]:
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)
X_test

array([[-0.79359516, -0.36722927, -0.4768775 , ...,  2.01314368,
        -1.34974784,  0.46653722],
       [-1.68375314,  0.51355565,  2.04158444, ..., -0.78534106,
        -0.56257693, -1.11203382],
       [-1.64347529, -0.07363429,  0.78235347, ..., -0.00798418,
        -0.79316235, -1.57116662],
       ...,
       [-0.94239453, -0.46509426, -0.4768775 , ..., -1.25175518,
        -0.53872327,  1.000155  ],
       [ 1.38193618, -0.17149928, -0.4768775 , ..., -0.95494619,
         1.25030152, -1.20058367],
       [-0.76967469, -0.17149928, -0.4768775 , ...,  0.33122609,
        -0.75738185,  0.38803773]])

In [73]:
#DATA ANALYSYS

In [75]:
import pandas
data = 'E:/DSC/energydata_complete.csv'
names = ['date','Appliances','lights','T1','RH_1','T2','RH_2','T3','RH_3','T4','RH_4','T5','RH_5','T6','RH_6','T7','RH_7','T8','RH_8','T9','RH_9','T_out','Press_mm_hg','RH_out','Windspeed','Visibility','Tdewpoint','rv1','rv2']
dataset = pandas.read_csv(data, names = names)

In [76]:
print(dataset.shape)

(19736, 29)

In [77]:
print(dataset.head(20))

                   date  Appliances  lights                  T1  \
0                  date  Appliances  lights                  T1
1   2016-01-11 17:00:00          60      30  19.890000000000001
2   2016-01-11 17:10:00          60      30  19.890000000000001
3   2016-01-11 17:20:00          50      30  19.890000000000001
4   2016-01-11 17:30:00          50      40  19.890000000000001
5   2016-01-11 17:40:00          60      40  19.890000000000001
6   2016-01-11 17:50:00          50      40  19.890000000000001
7   2016-01-11 18:00:00          60      50  19.890000000000001
8   2016-01-11 18:10:00          60      50  19.856666666666701
9   2016-01-11 18:20:00          60      40  19.789999999999999
10  2016-01-11 18:30:00          70      40  19.856666666666701
11  2016-01-11 18:40:00         230      70  19.926666666666701
12  2016-01-11 18:50:00         580      60  20.066666666666698
13  2016-01-11 19:00:00         430      50  20.133333333333301
14  2016-01-11 19:10:00         250      40  20.260000000000002
15  2016-01-11 19:20:00         100      10  20.426666666666701
16  2016-01-11 19:30:00         100      10  20.566666666666698
17  2016-01-11 19:40:00          90      10  20.730000000000000
18  2016-01-11 19:50:00          70      30  20.856666666666701
19  2016-01-11 20:00:00          80      30  20.890000000000001

                  RH_1                  T2                RH_2  \
0                 RH_1                  T2                RH_2
1   47.596666666666700  19.199999999999999  44.789999999999999
2   46.693333333333300  19.199999999999999  44.722499999999997
3   46.299999999999997  19.199999999999999  44.626666666666701
4   46.066666666666698  19.199999999999999  44.590000000000003
5   46.333333333333300  19.199999999999999  44.530000000000001
6   46.026666666666699  19.199999999999999  44.500000000000000
7   45.766666666666701  19.199999999999999  44.500000000000000
8   45.560000000000002  19.199999999999999  44.500000000000000
9   45.597499999999997  19.199999999999999  44.433333333333302
10  46.090000000000003  19.230000000000000  44.399999999999999
11  45.863333333333301  19.356666666666701  44.399999999999999
12  46.396666666666697  19.426666666666701  44.399999999999999
13  48.000000000000000  19.566666666666698  44.399999999999999
14  52.726666666666702  19.730000000000000  45.100000000000001
15  55.893333333333302  19.856666666666701  45.833333333333300
16  53.893333333333302  20.033333333333299  46.756666666666703
17  52.659999999999997  20.166666666666700  47.223333333333301
18  53.659999999999997  20.199999999999999  47.056666666666700
19  51.193333333333300  20.199999999999999  46.329999999999998

                    T3                RH_3                  T4  ...  \
0                   T3                RH_3                  T4  ...
1   19.789999999999999  44.729999999999997  19.000000000000000  ...
2   19.789999999999999  44.789999999999999  19.000000000000000  ...
3   19.789999999999999  44.933333333333302  18.926666666666701  ...
4   19.789999999999999  45.000000000000000  18.890000000000001  ...
5   19.789999999999999  45.000000000000000  18.890000000000001  ...
6   19.789999999999999  44.933333333333302  18.890000000000001  ...
7   19.789999999999999  44.899999999999999  18.890000000000001  ...
8   19.730000000000000  44.899999999999999  18.890000000000001  ...
9   19.730000000000000  44.789999999999999  18.890000000000001  ...
10  19.789999999999999  44.863333333333301  18.890000000000001  ...
11  19.789999999999999  44.899999999999999  18.890000000000001  ...
12  19.789999999999999  44.826666666666704  19.000000000000000  ...
13  19.890000000000001  44.899999999999999  19.000000000000000  ...
14  19.890000000000001  45.493333333333297  19.000000000000000  ...
15  20.033333333333299  47.526666666666699  19.000000000000000  ...
16  20.100000000000001  48.466666666666697  19.000000000000000  ...
17  20.199999999999999  48.530000000000001  18.926666666666701  ...
18  20.199999999999999  48.447499999999998  18.890000000000001  ...
19  20.199999999999999  48.193333333333300  18.963333333333299  ...

                    T9                RH_9                    T_out  \
0                   T9                RH_9                    T_out
1   17.033333333333299  45.530000000000001   6.5999999999999996e+00
2   17.066666666666698  45.560000000000002   6.4833333333333298e+00
3   17.000000000000000  45.500000000000000   6.3666666666666698e+00
4   17.000000000000000  45.399999999999999   6.2500000000000000e+00
5   17.000000000000000  45.399999999999999   6.1333333333333302e+00
6   17.000000000000000  45.289999999999999   6.0166666666666702e+00
7   17.000000000000000  45.289999999999999   5.9000000000000004e+00
8   17.000000000000000  45.289999999999999   5.9166666666666696e+00
9   17.000000000000000  45.289999999999999   5.9333333333333300e+00
10  17.000000000000000  45.289999999999999   5.9500000000000002e+00
11  17.000000000000000  45.289999999999999   5.9666666666666703e+00
12  16.890000000000001  45.289999999999999   5.9833333333333298e+00
13  16.963333333333299  45.289999999999999   6.0000000000000000e+00
14  16.890000000000001  45.326666666666704   6.0000000000000000e+00
15  16.890000000000001  45.344999999999999   6.0000000000000000e+00
16  16.890000000000001  45.326666666666704   6.0000000000000000e+00
17  16.890000000000001  45.289999999999999   6.0000000000000000e+00
18  16.890000000000001  45.289999999999999   6.0000000000000000e+00
19  16.890000000000001  45.200000000000003   6.0000000000000000e+00

           Press_mm_hg               RH_out             Windspeed  \
0          Press_mm_hg               RH_out             Windspeed
1   733.50000000000000   92.000000000000000   7.00000000000000000
2   733.60000000000002   92.000000000000000   6.66666666666666963
3   733.70000000000005   92.000000000000000   6.33333333333333037
4   733.79999999999995   92.000000000000000   6.00000000000000000
5   733.89999999999998   92.000000000000000   5.66666666666666963
6   734.00000000000000   92.000000000000000   5.33333333333333037
7   734.10000000000002   92.000000000000000   5.00000000000000000
8   734.16666666666697   91.833333333333300   5.16666666666666963
9   734.23333333333301   91.666666666666700   5.33333333333333037
10  734.29999999999995   91.500000000000000   5.50000000000000000
11  734.36666666666702   91.333333333333300   5.66666666666666963
12  734.43333333333305   91.166666666666700   5.83333333333333037
13  734.50000000000000   91.000000000000000   6.00000000000000000
14  734.61666666666702   90.500000000000000   6.00000000000000000
15  734.73333333333301   90.000000000000000   6.00000000000000000
16  734.85000000000002   89.500000000000000   6.00000000000000000
17  734.96666666666704   89.000000000000000   6.00000000000000000
18  735.08333333333303   88.500000000000000   6.00000000000000000
19  735.20000000000005   88.000000000000000   6.00000000000000000

             Visibility                Tdewpoint                     rv1  \
0            Visibility                Tdewpoint                     rv1
1   63.0000000000000000   5.2999999999999998e+00  13.2754331571049988270
2   59.1666666666666998   5.2000000000000002e+00  18.6061949818395078182
3   55.3333333333333002   5.0999999999999996e+00  28.6426681675948202610
4   51.5000000000000000   5.0000000000000000e+00  45.4103894997388124466
5   47.6666666666666998   4.9000000000000004e+00  10.0840965518727898598
6   43.8333333333333002   4.7999999999999998e+00  44.9194842483848333359
7   40.0000000000000000   4.7000000000000002e+00  47.2337634302675724030
8   40.0000000000000000   4.6833333333333300e+00  33.0398896243423223495
9   40.0000000000000000   4.6666666666666696e+00  31.4557021949440240860
10  40.0000000000000000   4.6500000000000004e+00   3.0893135233782231808
11  40.0000000000000000   4.6333333333333302e+00  10.2987287449650466442
12  40.0000000000000000   4.6166666666666698e+00   8.8278376264497637749
13  40.0000000000000000   4.5999999999999996e+00  34.3511423328891396523
14  40.0000000000000000   4.5166666666666702e+00  19.2051859106868505478
15  40.0000000000000000   4.4333333333333300e+00  38.4920709999278187752
16  40.0000000000000000   4.3499999999999996e+00  24.8849621042609214783
17  40.0000000000000000   4.2666666666666702e+00  35.8809254132211208344
18  40.0000000000000000   4.1833333333333300e+00  49.5953047415241599083
19  40.0000000000000000   4.0999999999999996e+00  19.0017589717172086239

                       rv2
0                      rv2
1   13.2754331571049988270
2   18.6061949818395078182
3   28.6426681675948202610
4   45.4103894997388124466
5   10.0840965518727898598
6   44.9194842483848333359
7   47.2337634302675724030
8   33.0398896243423223495
9   31.4557021949440240860
10   3.0893135233782231808
11  10.2987287449650466442
12   8.8278376264497637749
13  34.3511423328891396523
14  19.2051859106868505478
15  38.4920709999278187752
16  24.8849621042609214783
17  35.8809254132211208344
18  49.5953047415241599083
19  19.0017589717172086239

[20 rows x 29 columns]

In [78]:
print(dataset.describe()) #The above command gives you the following output that shows the statistical summary of each attribute −

                       date Appliances lights                  T1  \
count                 19736      19736  19736               19736
unique                19736         93      9                 723
top     2016-03-21 12:30:00         50      0  21.000000000000000
freq                      1       4368  15252                 514

                      RH_1                  T2                RH_2  \
count                19736               19736               19736
unique                2548                1651                3377
top     39.090000000000003  19.199999999999999  40.000000000000000
freq                   152                 331                 135

                        T3                RH_3                  T4  ...  \
count                19736               19736               19736  ...
unique                1427                2619                1391  ...
top     22.390000000000001  37.590000000000003  20.390000000000001  ...
freq                   433                 243                 348  ...

                        T9                RH_9                    T_out  \
count                19736               19736                    19736
unique                 925                3389                     1731
top     20.500000000000000  39.200000000000003   9.8000000000000007e+00
freq                   487                 165                      119

               Press_mm_hg               RH_out             Windspeed  \
count                19736                19736                 19736
unique                2190                  567                   190
top     757.29999999999995   95.000000000000000   1.00000000000000000
freq                   142                  470                  2133

                 Visibility                Tdewpoint                     rv1  \
count                 19736                    19736                   19736
unique                  414                     1410                   19736
top     40.0000000000000000   0.0000000000000000e+00  12.2744256979785859585
freq                   7224                      123                       1

                           rv2
count                    19736
unique                   19736
top     12.2744256979785859585
freq                         1

[4 rows x 29 columns]